#magic-cursor {
	position: absolute;
	width: 10px !important;
	height: 10px !important;
	pointer-events: none;
	z-index: 1000000;
}

#ball {
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	background: var(--e-global-color-accent, #FFF45C);
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	pointer-events: none;
	border: none;
	opacity: 1 !important;
}

@media only screen and (max-width: 991px) {
	#magic-cursor {
		display: none !important;
	}
}
